<!DOCTYPE html>
<html lang="en">
  <head>
    <title>GoSolar: Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="GoSolar">
    <meta name="author" content="Kalyan Allada">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/custom.css" >
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <!-- Custom styles for this template -->
    <!--link href="./starter-template.css" rel="stylesheet"> -->
    <link href="../static/css/starter-template.css" rel="stylesheet"> 
    
  </head>
  <body>



    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
              <a class="navbar-brand" href="/" ><b><font size=5>GoSolar</b></font></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/"> <font size=4> Home </font> </a></li>
                    <li><a href="/about"> <font size=4>  About </font> </a></li>
                    <li><a href="/contact"><font size=4>  Contact </font> </a></li>
                    <li><a href="http://insightdatascience.com/"> <font size=4>  Insight </font> </a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <br><br><br><br>

    <div class="container", align = "center">
      <h2> Kalyan Allada, PhD</h2>
    </div>
    
      <div class="row">
        <div class="col-md-6", align ="right">
	  <br><br>
	  <img src="../static/images/kalyan.jpg" alt="Profile pic" width="300px">
	</div>
	<div class="col-md-3" align="left">
	  <p style="font-size:18px">
            <br><br>
            Kalyan Allada received his PhD in experimental particle/nuclear physics from
            University of Kentucky. He then spent several years
            working as a postdoctoral research scientist at MIT's
            Laboratory of Nuclear Science and at Jefferson Lab
            (Department of Energy's laboratory for nuclear
            science). He enjoys working with large data sets and always eager
            to learn skills. In his spare time he likes to hike and play tennis.
	  </p>
          <br>
	</div>
      </div>
      
      <br> <br><br><br>
      <div class="container" align="center">
	email: kalyan  doT allada at gmail Dot com <br>
	GitHub: <a href="https://github.com/kalyan-allada">https://github.com/kalyan-allada</a>
	<br>
	LinkedIn: <a href="https://www.linkedin.com/in/kalyanallada">https://www.linkedin.com/in/kalyanallada</a>
	<br>	      
	
      </div>




 <br>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>Copyright &copy; GoSolar 2017</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </footer>
  
  <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->
    <script src="../static/js/bootstrap.min.js"></script>

    
  </body>
</html>
